.progress{
    width: 80%;
    margin: 2rem auto;
    height: 1rem;
    border-radius: 3px;
    display: block;
}

.progress::-webkit-progress-bar{
    background: inherit;
    border-radius: 3px;
    
}

.progress::-webkit-progress-value {
    background: var(--deco-font);
    border-radius: 3px;
}

