.gallery{
    height: 100vh;
    width: 40rem;
    box-shadow: 3px 3px 40px 2px rgb(73, 73, 73);
    background-color: #fafafa; /*ZINC 50*/
    padding: 1rem;
    display: grid;
    grid-template-columns: 12rem 12rem 12rem;
    grid-template-rows: 18vh 18vh 18vh 18vh 18vh;
    row-gap: 5px;
    column-gap: 5px;
    overflow-y: scroll;
    font-family: Inter;
    position: absolute;
    right: -40rem;
}
.error{
   grid-column-start: 1;
   grid-column-end: 4;
   color: #f87171;
   font-size: 1.2rem;
   padding: 1rem;
}
