.closeBtn{
    position: absolute;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: none;
    color: rgb(220 38 38); /* red 600*/
    background-color: rgb(212 212 216); /* ZINC 300*/
    cursor: pointer;
}

.closeBtn:hover{
    opacity: 0.7;
}