.dropzoneContainer{
    width: 80%;
    height: 80%;
    margin: 5rem auto;
    padding: 1rem;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(73, 73, 73);
    border-radius: 4px;
    font-family: var(--primary-font-family)
}

.fileInput{
    color: var(--font-primary);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 2rem;
    border-radius: 3px;
    margin-bottom: 2rem;
    background-color: var(--secondary-bg);
    box-shadow: 0.5px 0.5px 1px 0.5px;
}

.error{
    text-align: center;
    padding: 1rem;
    color: #f87171;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.success{
    text-align: center;
    padding: 1rem;
    color: #525252;
    font-size: 0.8rem;
    text-transform: uppercase;
}