.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 1000;
    font-family: var(--primary-font-family);
    color: var(--primary-font);
    padding-left: 2rem;
    padding-right: 1rem;
}

.logoContainer {
  display: flex;
  margin-top: 2rem;
}

.logoWrapperText h1{
  font-size: 1.3rem;
  margin: 0;
  padding-top: 5px;
}

.logoWrapperText p{
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.5rem;
  }

.logo {
    width: 100%;
    max-width: 4rem;
    object-fit: contain;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.titleContainer label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(156 163 175);
}

.titleContainer input {
    width: 80%;
    font-size: 0.9rem;
    border: none;
    background-color: var(--secondary-bg);
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 6px;
}

.titleContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #27272a;
}

.titleContainer button{
    background-color: var(--secondary-bg);
    border: none;
    font-size: 0.9rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px;
}


.toolsContainer{
    margin-top: 3rem;
}

.toolsLabel{
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(156 163 175);
}


.sidebarFooter {
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
}

.sidebarFooter > button {
    background-color: rgb(59 130 246) !important;
    width: 100% !important;
}

.pdfButtonsIcon{
    font-size: 2rem;
    color: var(--deco-font);
}

.sidebarFooter button {
    width: 4rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 6px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    border-radius: 2px;
    letter-spacing: 1px;
    background-color: var(--secondary-btn);
    align-self: flex-end;
    font-family: var(--secondary-font-family);
    border: none;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px 0.5px;
}

.pdfButtons button:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 1.5px 1px;
}

.logoutWrapper{
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: flex-start;
}

.logout {
    width: 4rem;
    align-self: flex-start;
    font-size: 1.5rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
}
