.sidebar {
    min-width: 320px;
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 1000;
    font-family: var(--primary-font-family);
    color: var(--primary-font);
}

.logoContainer {
    border-bottom: 0.5px solid lightgray;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logoWrapperText{
    display: inline-block;
    margin-top: -2.5rem;
}

.logoWrapperText h1{
  font-size: 1.3rem;
  margin: 0;
}

.logoWrapperText p{
    font-size: 0.8rem;
    margin: 0;
  }

.logo {
    width: 100%;
    max-width: 3rem;
    object-fit: cover;
    margin-bottom: -0.5rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 2rem;
}

.titleContainer label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(156 163 175);
}

.titleContainer input {
    width: 80%;
    font-size: 0.9rem;
    border: none;
    background-color: var(--secondary-bg);
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 6px;
}

.titleContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #27272a;
}

.titleContainer button{
    background-color: var(--secondary-bg);
    border: none;
    font-size: 0.9rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px;
}


.toolsContainer{
    margin-top: 3rem;
    padding-left: 2rem;
}

.toolsLabel{
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(156 163 175);
}

.myDocumentsContainer{
    padding-left: 2rem;
    height: 25vh;
    margin-top: 2rem;
}

.documentsCount{
    margin-left: 50px;
}


.sidebarFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sidebarFooter > button {
    background-color: rgb(59 130 246) ;
    width: 80% ;
    margin: 10px auto 0 auto ;
    color: white;
    font-size: 1.2rem ;
    border-radius: 10px;
    padding: 5px;
    border: none;
    box-shadow: 1px 2px 4px 1px lightgray;
}

.btn {
    width: 4rem;
    font-size: 0.7rem;
    padding: 6px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    letter-spacing: 1px;
    background-color: var(--secondary-btn);
    align-self: flex-end;
    font-family: var(--secondary-font-family);
    border: 0.5px solid lightgray;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 1.5px 1px;
}

.logoutWrapper{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.logout {
    font-size: 1.5rem;
    background-color: none;
    border: none;
    cursor: pointer;
}
