.A4{
    position: relative;
    margin: auto 100px;
    background-color: white;
    flex-shrink: 0;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    #A4{
      height: 421px !important;
      width: 297.5px !important;
      margin: 50px auto;
      z-index: 3000;
    }

 }