.selectedElement{
    opacity: 0.8;
}

.selectedElement::after{
    content: "";
    background-image: url("images/selected.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    top: -25px
}