.btnHero{
    width: 6rem;
    height: 2.5rem;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-right: 3rem;
    background-color: var(--color-muted);
    
}

.btnHero:hover{
    background-color: var(--color-surface);
    color: var(--color-paper);
}

.btnHero a{
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--color-paper);
    font-size: 0.8rem;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-top: 0.65rem;
}

.btnHero a:hover{
    color: var(--color-muted);
}
