.controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    align-self: center;
    gap: 1rem;
    width: 70%;
}

.controls label {
    font-size: 0.8rem;
    color: rgb(156 163 175);
    /* GRAY 400*/
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.controls button {
    padding: 4px;
    background-color: white;
}

.icons {
    color: #18181b;
    background-color: #f5f5f5;
    margin-right: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
}

.icons:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px;
    border-radius: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .controls label {
        visibility: hidden;
        width: 1rem;
    }


}