.spinnerWrapper{
   position: relative;
    z-index: 3000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg);
    border: 5px solid var(--secondary-bg);
    width: 33%;
    margin: 100px auto;
    padding: 1rem;
    border-radius: 10px;
}

 .spinnerText{
    font-family: var(--secondary-font-family);
    font-size: 1rem;
    color:var(--deco-font);
 }
